<img id="background-image" style="background: url(http://www.natfonline.org/media/17628/keyboard2.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;">
<div id="background-overlay"></div>

<%= render 'shared/alerts' %>

<div class="main-content" style="position:relative;">
  <div class="container">
    <%= form_tag sessions_path, class: "form-signin" do %>
      
      <h2 class="form-signin-heading">Inicia sesión</h2>

      <%= label_tag :email, "Username or Email", class: "sr-only" %>
      <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Nombre de Usuario o Email" %>

      <%= label_tag :password, "Password", class: "sr-only" %>
      <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Contraseña" %>

      <div class="checkbox">
        <label>
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          Remember me &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <%= link_to 'Olvide mi Contraseña', new_password_reset_path %>
        </label>
      </div>

      <%= submit_tag "Inicia Sesión", class: 'btn btn-lg btn-primary btn-block' %>
      <br><p class="no-account">No tienes una cuenta? <%= link_to 'Registrate aquí ', '/singup' %>gratis.</p>
    <% end %> 
  </div>
</div>

    