<div class="col-lg-6">

  <h1>Reset password</h1>
  <h2>Please, enter new password:</h2>

  <br>

  <%= form_for @user, url: password_reset_path, method: :put do |f| %>

    <div class="form-group">
      <div class="col-lg-8">
        <%= f.password_field :password, placeholder: 'new password' %>
        <%= @user.errors[:password].join(', ') %>
      </div>
    </div>

    <br>
    
    <div class="form-group">
      <div class="col-lg-8">
        <%= f.password_field :password_confirmation, placeholder: 'confirmation password' %>
        <%= @user.errors[:password_confirmation].join(', ') %>
      </div>
    </div>
    
    <br>    
    
    <div class="form-group">
      <div class="col-lg-10">
        <%= f.submit "Reset password", class: 'btn btn-default' %>
      </div>
    </div>

  <% end %> 
</div>