<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div> 
<div id="background-overlay"></div>

<div class="main-content">
  <div class="container">
    <%= form_for @user, url: password_reset_path, html: { class: "form-signin", style: "margin-top:60px;" }, method: :put do |f| %>
      <h3 class="form-signin-heading">Una Nueva Contraseña</h3>
      <%= f.label :password, 'Contraseña', class: "sr-only" %>
      <%= f.password_field :password, class: "form-control", placeholder: 'Nueva Contraseña' %>
      <%= f.label :password_confirmation, 'Contraseña', class: "sr-only" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Confirma la Contraseña' %>
      <%= f.submit "Guardar Cambios", class: 'btn btn-lg btn-primary btn-block' %>
    <% end %> 
  </div>
</div>

