<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div>
<div id="background-overlay"></div>

<div class="container" style="margin-top:15px;">
  <div class="row">
    <div id="mobile-book-info" class="visible-xs col-xs-12"> 
      <h1><%= @book.title %></h1> 
      <h2><%= @book.published_date %></h2> 
      <h2><%= @book.categories.gsub(',',' /') %></h2> 
    </div>

    <div id="book-poster" class="col-lg-3 col-md-5 col-sm-5 col-xs-12">
      <% if @book.image_link %>
        <%= image_tag @book.image_link(zoom: 5), class: "img-responsive thumbnail", size: "200x285" %>
      <% else %>
        <%= image_tag 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSo8uPVFZTL8nxsBIPhyBw9DxZ0lbyS4hqMpQxQU4wYu0gaFDe34q-UhsHr', class: "img-responsive thumbnail", size: "200x285" %>
      <% end %>
      <center><%= link_to 'Ir a mas detalles', @book.info_link, class: "btn btn-primary hidden-xs hidden-md", target: "_blank" %></center> <br>
      <center><%= link_to 'Leer Libro', @book.preview_link, class: "btn btn-primary hidden-xs hidden-md", target: "_blank" %></center>
    </div>

    <div id="book-info" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div class="hidden-xs">
        <h1><%= @book.title %></h1> 
        <h2><%= @book.published_date %></h2> 
        <h2><%= @book.categories.gsub(',',' /') %></h2>  
      </div>
      <p>
        <em class="pull-left">Disponible en: &nbsp;</em>
        <a>Libro</a>
        <a>e-Book</a>
      </p>
      <div class="bottom-info">
        <div class="rating-row">
          <span class="icon glyphicon glyphicon-user blue"></span>
          <span><%= @book.authors %></span>
        </div class="text">
        <div class="rating-row">
          <span class="icon glyphicon glyphicon-book blue"></span>
          <span class="text"><%= @book.publisher %></span>
        </div>
        <div class="rating-row">
          <span class="icon glyphicon glyphicon-barcode blue"></span>
          <span class="text"><%= @book.isbn %></span>
        </div>
        <div class="rating-row">
          <span class="icon glyphicon glyphicon-hand-up blue"></span>
          <span class="text"><%= @book.average_rating %></span>
        </div>
        <div class="rating-row">
          <span class="icon glyphicon glyphicon-eye-open blue"></span>
          <span class="text"><%= @book.language %></span>
        </div>
      </div>

    </div>

    <div id="synopsis" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <h3>Sinopsis</h3>
      <p><%= @book.description %></p>
    </div>
  </div>
</div>