<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div> 
<div id="background-overlay"></div>

<div class="container">
  <h1>Editar Perfil</h1>
  <hr>
  <%= form_for current_user, html: { multipart: true, class: "form-horizontal" } do |f| %>
    <div class="row">
       <div class="col-md-3">
        <div class="text-center">
          <%= image_tag current_user.avatar.url(:thumb), class: "avatar img-circle" %>
          <h6>Sube una foto diferente...</h6>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <% if current_user.errors.any? %>
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            <ul>
              <% for message in current_user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Información Personal</h3>

        <div class="form-group">
          <%= f.label 'Nombre de Usuario', class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :username, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Nombre", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :firstname, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Apellido", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :lastname, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Correo Electronico", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Biografia", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_area :biography, size: "19x10", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Ubicacion", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :location, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Contraseña", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Confirmar Contraseña", class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit "Guardar Cambios", class: 'btn btn-primary' %>
            <span></span>
            <%= link_to "Cancelar", "/users/#{current_user.username}", class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>