<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div> 
<div id="background-overlay"></div>

<%= render 'shared/alerts' %>

<div class="main-content">
  <div class="container">
    <div class="info-page">
      <div class="row">
        <div class="col-lg-9 col-md-9"> 
          <h1><%= @user.username %></h1> 
        </div>
        <div class="col-lg-3 col-md-3">
          <% if current_user == @user %>
            <%= link_to 'Editar', "/users/#{@user.username}/edit", style: 'margin-left:50px;', class: "btn btn-primary" %>
          <% end %> 
        </div>
      </div>

      <div class="line"></div>

      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12"> 
          <%= image_tag @user.avatar.url(:medium), class: "profile-img img-responsive" %>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <h2>Biografía</h2>
          <div id="user-biography"><%= @user.biography %></div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1"> 
          <h2>Estadísticas</h2>
          <div class="profile-container">
            <p> <span>ID de usuario: </span> <%= (@user.id * 12345).to_s(16) %></p> 
            <p> <span>Se unió: </span> <%= time_ago_in_words(@user.created_at) %></p> 
            <p> <span>Ultima visita: </span> <%= time_ago_in_words(@user.last_login_at) %></p>
            <p> <span>Libros creados: </span> <%= @user.books.size %></p> 
            <p> <span>ip ultima conexion: </span> <%= @user.last_login_from_ip_address %> </p>
          </div> 
        </div>
      </div>

      <div class="line"></div>

      <div class="row">
        <div class="col-lg-9 col-md-9"> 
          <% if current_user == @user %> 
            <h3>Mis Libros</h3>
          <% else %>
            <h3>Libros</h3>
          <% end %> 
        </div>
        <div class="col-lg-3 col-md-3">
          <%= link_to 'Crear Libro', new_user_book_path(@user), class: 'btn btn-primary crtbook' %> 
        </div>
      </div>

      <div class="line"></div>

      <div class="row"> 
        <div class="col-xs-20"> 
          <div class="row-fluid recent-downloads">
            <% @user.books.each do |book| %> 
              <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 rbook">
                <h4><%= book.title %></h4>
                <%= link_to user_book_path(@user, book) do %>
                  <%= image_tag book.image(:thumb) %>
                <% end %>
              </div>
            <% end %>  
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>