<div id="results-frame" class="container" style="position:relative;">
  <div class="row">
    <% @books.each do |book| %> 
        <div class="book-result col-md-15 col-lg-15 col-sm-6 col-xs-6">
          <div class="result-container">
            <figure>
              <% if book.image_link %>
                <%= link_to books_show_path(isbn: book.isbn, title: book.title) do %>
                  <%= image_tag book.image_link(zoom: 5), class: "thumbnail", size: "180x265" %>
                <% end %>
              <% else %>
                <%= link_to books_show_path(isbn: book.isbn, title: book.title) do %>
                  <%= image_tag 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSo8uPVFZTL8nxsBIPhyBw9DxZ0lbyS4hqMpQxQU4wYu0gaFDe34q-UhsHr', class: "thumbnail", size: "180x265" %>
                <% end %>
              <% end %>
            </figure>
            <div class="book-result-bottom">
              <%= link_to book.title, books_show_path(isbn: book.isbn, title: book.title), class: "book-title" %>
              <div class="book-year"><%= book.published_date %></div>
              <div class="book-tags">
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= will_paginate @books, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0  %>
  </div>
</div>