<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div> 
<div id="background-overlay"></div>

<div class="container-fluid collapse navbar-collapse" style="position:relative;background:#292c2f;" id="search-book-div">
  <%= form_tag(:Home, :method => "get", id: "search-form-home") do %>
    <div class="container" style="margin-top:10;margin-bottom:10px;">
      <div class="row">
        <%= render 'shared/alerts' %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="term">Término de Busqueda:</p>
          <div class="input-group" style="width:100%;margin-bottom:5px;">
            <%= text_field_tag :search, params[:search], class: "form-control", style: "height:34px;", placeholder: "Busca un libro" %>
            <span class="input-group-btn">
              <%= submit_tag "Buscar", :name => nil, class: 'btn btn-primary' %>
            </span>           
          </div>
        </div>
      </div>
      <div class="row" id="filters">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p>Palabra Clave</p>
          <%= select_tag :keyword, options_for_select(@keywords), class: "form-control" %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p>Filtro</p>
          <%= select_tag :filtering, options_for_select(@filters), class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @books != [] %>
  <div class="container" style="position:relative;">
    <h1 id="results-h">Resultados</h1>
  </div>
  <%= render 'show_results' %>
<% end %>