
<br>

<div class="container home-content" style="position:relative;" >
    <h1>Libros piratas y caros, pero de buena calidad y que se dejan leer bien.</h1>
</div>
<div class="container" style="padding-top:10px;">
  <h1 id="results-h"><span class="glyphicon glyphicon-star" style="margin-top:3px;"></span> Libros más populares</h1>
  <hr class="featurette-divider" style="position:relative;padding-top:55px;">
</div>

<div id="results-frame" class="container" style="position:relative;">
  <div class="row">
    <% @books.each do |book| %> 
        <div class="book-result col-md-15 col-lg-15 col-sm-6 col-xs-6">
          <div class="result-container">
            <a class="link-libro" href="">
              <figure>
                <% if book.image_link %>
                  <%= image_tag book.image_link(zoom: 5), class: "img-responsive", size: "100x100" %>
                <% else %>
                  <%= image_tag 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSo8uPVFZTL8nxsBIPhyBw9DxZ0lbyS4hqMpQxQU4wYu0gaFDe34q-UhsHr', class: "img-responsive", size: "16x10" %>
                <% end %>
              </figure>
            </a>
            <div class="book-result-bottom">
              <%= link_to book.title, books_show_path(isbn: book.isbn, title: book.title), class: "book-title" %>
              <div class="book-year"><%= book.published_date %></div>
              <div class="book-tags">
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<% if @books != [] %>
  <%= will_paginate @books, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0 %>
<% end %>