<br>
<div class="col-lg-12">
  <div class="bs-component">
    <div class="jumbotron">
      <center><p> <%= @book.title %> </p></center>
      <% if @book.image_link %>
        <center><%= image_tag @book.image_link(zoom: 5), class: "thumbnail" %></center> <br>
      <% else %>
        <center><%= image_tag 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSo8uPVFZTL8nxsBIPhyBw9DxZ0lbyS4hqMpQxQU4wYu0gaFDe34q-UhsHr', class: "thumbnail" %></center>
      <% end %>
      <center><p> Authors: <%= @book.authors %> </p></center>
      <center><p> <%= link_to 'book info', @book.info_link, class: "btn btn-primary btn-lg", target: "_blank" %> </p></center>
      <center><p> <%= link_to 'preview', @book.preview_link, class: "btn btn-primary btn-lg", target: "_blank" %> </p></center>
    </div>
  </div>
</div>



